body {
    background-color:black;
}

html {
    overflow-x:hidden;
}

.sectionheaders {
    font-size:60px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
}



.earlylife, .societalcontributions, .legacy, .funfacts {
    background-image:url(imgs/sectionbackgrounds.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    border-radius:20px;
    border:2px double darkred;
}


/* start of navbar  */

.navbar {
    position:fixed;
    width:100%;
    z-index:1;
}

nav {
    background-color:darkred;
}

.nav-link {
    font-size:20px;
    color:white;
    font-family: "ivyora-display", sans-serif;
font-weight: 400;
font-style: italic;
}

.navbar-brand {
    font-size:25px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
color:white;
}


/* start of jumbotron */

.jumbotron {
    background-image:url(imgs/queenmaryIbannerpic.jpg);
    background-size:cover;
    background-position-x:center;
    color:white;
    height:800px;
    filter: brightness(0.8);
    box-shadow:inset 0px -130px 150px 0px black;
    position:relative;
    z-index:0;
}

.jumbotronheader1 {
    font-size:50px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
}
.jumbotronheader2 {
    font-size:30px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
}

.jumbotrontext {
    margin-top:250px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
}



/* start of early life section */

.earlylifeinfo2 {
    font-size:20px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;

}

.earlylifeinfo {
    font-size:25px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.earlylifeimg {
    height:400px;
    width:auto;
}

/* start of societal contributions section */

.socialcontimg {
    height:400px;
    width:auto;
}

.socialcontinfo2 {
    font-size:20px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.socialcontinfo {
    font-size:28px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

/* start of legacy section */

.legacyinfo2 {
    font-size:20px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.legacyinfo {
    font-size:30px;
    color:black;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.legacyimg {
    height:400px;
    width:auto;
}

/* start of funfacts section */

.accordion-button-paragraph {
    font-size:20px;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
letter-spacing:1px;
}

.accordion {
    position:relative;
    z-index:0;
}

.accordion-button {
    background-color:rgb(21, 21, 21);
    color:white;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.accordion-body {
    background-color:rgb(21,21,21);
    color:white;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.accordion-button-text {
    font-size:25px;
}


.funfactsimg1 {
    height:250px;
    width:auto;
}

.funfactsimg2 {
    height:200px;
    width:auto;
}

.funfactsimg3 {
    height:200px;
    width:auto;
}

.funfactsimg4 {
    height:300px;
    width:auto;
}

.funfactsimg5 {
    height:200px;
    width:auto;
}

/* start of footer */

.link1, .link2, .link3 {
    text-decoration:underline;
    color:white;
    font-size:30px;
    font-family: "ivyora-display", sans-serif;
font-weight: 500;
font-style: bold;
}

.footer-header1 {
    color:white;
    font-size:50px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
}

.link1:hover, .link2:hover, .link3:hover {
    text-decoration:none;
    color:grey;
    font-size:30px;
}