html {
    overflow-x:hidden;
}
.navbar {
    position:fixed;
    width:100%;
    z-index:1;
}

.sectionheaders {
    font-size:50px;
}

/* start of jumbotron */

.jumbotron {
    background-image:url(imgs/queenmaryIbannerpic.jpg);
    background-size:cover;
    background-position-x:center;
    color:white;
    height:800px;
    filter: brightness(0.8);
    box-shadow:inset 0px -130px 150px 0px black;
    position:relative;
    z-index:0;
}

.jumbotronheader1 {
    font-size:50px;
}
.jumbotronheader2 {
    font-size:30px;
}

.jumbotrontext {
    margin-top:250px;
}



/* start of early life section */
.earlylife {
    background-color:red;
}

.earlylifeinfo2 {
    font-size:20px;
}

.earlylifeinfo {
    font-size:30px;
}

.earlylifeimg {
    height:400px;
    width:auto;
}

/* start of societal contributions section */

.societalcontributions {
    background-color:red;
}

.socialcontimg {
    height:400px;
    width:auto;
}

.socialcontinfo2 {
    font-size:20px;
}

.socialcontinfo {
    font-size:30px;
}

/* start of legacy section */
.legacy {
    background-color:red;
}


.legacyinfo2 {
    font-size:20px;
}

.legacyinfo {
    font-size:30px;
}

.legacyimg {
    height:400px;
    width:auto;
}

/* start of funfacts section */

.funfacts {
    background-color:red;
}

.accordion-button-paragraph {
    font-size:20px;
}

.funfactsimgs {
    height:300px;
    width:auto;
}

/* start of footer */

.link1, .link2, .link3 {
    text-decoration:none;
    color:black;
    font-size:30px;
}

.link1:hover, .link2:hover, .link3:hover {
    text-decoration:none;
    color:grey;
    font-size:30px;
}